@import url();

.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #D4BC98;
    /* background-color: #d5c7ac; */
}

/* html {
    background-color: #D4BC98;
    /* background-color: #d5c7ac;
} 
*/

#google-c {
    color: #4285F4;
}

#google-s {
    color: #DB4437;
}

#google-4 {
    color: #F4B400;
}

#google-3 {
    color: #4285F4;
}

#google-0-1 {
    color: #0F9D58;
}

#google-0-2 {
    color: #07111A;
    color: #285363;
    color: #521A16;
    color: #611E1A;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', sans-serif;
    font-size: 60px;
    /* font-weight: 1000; */
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.instruction-box {
    border-radius: 20px;
    border: none;
    /* border-color: #521A16; */
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 12px;
    width: 650px;
    height: 100px;
}

.instruction {
    font-family: 'Lora', sans-serif;
    color: #2E2D04;
    text-align: center;
    font-size: 16px;
    font-weight: bold;

}

.styled-text {
    font-family: 'Lora', sans-serif;
    color: #2E2D04;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.search-button {
    font-family: 'Lora', sans-serif;
    color: #2E2D04;
    font-size: 16px;
    font-weight: bold;
    background-color: #d5c7ac;
    border: 1.5px solid #521A16;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.2s;
    width: 130px;
    height: 30px;
}

.active,
.search-button:hover {
    background-color: #baab8d;
}

.input-box {
    border-radius: 50px;
    border: 1.5px solid #521A16;
    /* border-color: #521A16; */
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 600px;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    color: #2E2D04;
}

.input-box2 {
    border-radius: 50px;
    border: 1.5px solid #521A16;
    /* border-color: #521A16; */
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 600px;
}

.input-box2 img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box2 input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    color: #2E2D04;
}


#answer-box {
    width: 700px;
    margin-top: 20px;
}

input {
    background-color: #d5c7ac;
    background-color: #D4BC98;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.author-desc {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lora', sans-serif;
    /* background-color: #817B65; */
    padding: 12px;
    padding-left: 18px;
    padding-right: 14px;
    border-color: 1px black;
    background-color: #d5c7ac;
    border-radius: 25px;
    color: #2E2D04;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px
}

.author-select {
    font-family: 'Lora', sans-serif;
    color: #2E2D04;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 550px;
    height: 30px;
    text-align: left;
    background-color: #d5c7ac;
    border: 1.5px solid #521A16;
}

.author-select2 {
    font-family: 'Lora', sans-serif;
    color: #2E2D04;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 550px;
    height: 30px;
    text-align: left;
    background-color: #d5c7ac;
    border: 1.5px solid #521A16;
}

.collapsible {
    margin-bottom: 10px;
    font-family: 'Lora', sans-serif;
    background-color: #d5c7ac;
    color: #2E2D04;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 25px;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.2s
}

.active,
.collapsible:hover {
    background-color: #baab8d;
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #521A16;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content {
    transition: opacity 0.2s linear;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

button i.fa {
    color: #2E2D04;
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
}

.info-hover-button {
    border-color: #2E2D04;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}