<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora" rel="stylesheet">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h3 id="google-0-2">Author Explorer</h3>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for an Author and press the Enter Key" id="filter-text-val"
                    onkeyup="filterText()">
            </div>
        </div>
        <div id="loader" class="loader"></div>

        <div id="answer-box"></div>
    </div>

    <script>
        function answerBoxTemplate(first, second, third) {
            content = `<div class='rec-box'>
                <button type="button" class="collapsible"> 
                    <i class="fa fa-plus"></i>
                    ${first[1]}
                    
                </button>

                <div class="content">
                    <p class='episode-desc'>
                    Score: ${first[0]}<br>
                    Book Recommendation: ${first[2]}</p>
                </div>

                <button type="button" class="collapsible">
                    <i class="fa fa-plus"></i>
                    ${second[1]}
                </button>

                <div class="content">
                    <p class='episode-desc'>
                    Score: ${second[0]}<br>
                    Book Recommendation: ${second[2]}</p>
                </div>

                <button type="button" class="collapsible">
                    <i class="fa fa-plus"></i>
                    ${third[1]}
                </button>

                <div class="content">
                    <p class='episode-desc'>
                    Score: ${third[0]}<br>
                    Book Recommendation: ${third[2]}</p>
                </div>
            </div>`
            return content

        }

        function noReviews() {
            return `<div class=''>
                <p class='episode-desc'>No reviews to calculate similarity!</p>
            </div>`
        }

        function authorUnavailable() {
            return `<div class=''>
                <p class='episode-desc'>No data on author. Please try a different author.</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function showLoader() {
            document.getElementById("loader").style.display = "block";
        }
        function hideLoader() {
            document.getElementById("loader").style.display = "none";
        }

        function showCollapsible() {
            var coll = document.getElementsByClassName("collapsible")
            var i

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    author = this.innerText
                    content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                        this.innerHTML = `<i class="fa fa-plus"></i> ${author}`;
                    } else {
                        content.style.display = "block";
                        this.innerHTML = `<i class="fa fa-minus"></i> ${author}`;
                    }
                })
            };

        }

        function showContent() {
            showLoader()
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    console.log(data)
                    let tempDiv = document.createElement("div")
                    // if data != {} 
                    if (Object.keys(data).length) {
                        if (data["first"] == "none") {
                            tempDiv.innerHTML = authorUnavailable()
                        }
                        else {
                            tempDiv.innerHTML = answerBoxTemplate(data["first"], data["second"], data["third"])
                        }
                    }
                    else {
                        tempDiv.innerHTML = noReviews()
                    }
                    document.getElementById("answer-box").appendChild(tempDiv)
                    showCollapsible();
                    hideLoader()
                })
        }

        function filterText() {
            // only perform search if 'Enter' key is pressed
            if (event.keyCode == 13) {
                showContent()
            }
        }

    </script>
</body>