<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora" rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h3 id="google-0-2">Author Explorer</h3>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for an Author and press the Enter Key" id="filter-text-val"
                    onkeyup="filterText()">
            </div>
        </div>
        <!-- <div class="loader"></div> -->

        <div id="answer-box">

        </div>
    </div>

    <script>
        function answerBoxTemplate(first, second, third) {
            return `<div class='rec-box'>
                <p class='episode-desc'>${first[1]}<br>
                    Score: ${first[0]}<br>
                    Book Recommendation: ${first[2]}</p>
                <p class='episode-desc'>${second[1]}<br>
                    Score: ${second[0]}<br>
                    Book Recommendation: ${second[2]}</p>
                <p class='episode-desc'>${third[1]}<br>
                    Score: ${third[0]}<br>
                    Book Recommendation: ${third[2]}</p>
                
            </div>`
        }

        function noReviews() {
            return `<div class=''>
                <p class='episode-desc'>No reviews to calculate similarity!</p>
            </div>`
        }

        function authorUnavailable() {
            return `<div class=''>
                <p class='episode-desc'>No data on author. Please try a different author.</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            // only perform search if 'Enter' key is pressed
            if (event.keyCode == 13) {
                document.getElementById("answer-box").innerHTML = ""
                console.log(document.getElementById("filter-text-val").value)
                fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                    .then((response) => response.json())
                    .then((data) => {
                        console.log(data)
                        let tempDiv = document.createElement("div")
                        // if data != {} 
                        if (Object.keys(data).length) {
                            if (data["first"] == "none") {
                                tempDiv.innerHTML = authorUnavailable()
                            }
                            else {
                                tempDiv.innerHTML = answerBoxTemplate(data["first"], data["second"], data["third"])
                            }
                        }
                        else {
                            tempDiv.innerHTML = noReviews()
                        }
                        document.getElementById("answer-box").appendChild(tempDiv)
                    });
            }

        }

    </script>
</body>